<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\css\principal.css">
    <link href="/css/slideGallery.css" rel="stylesheet"/>
    <script src="js/main.js"></script>
    <script src="https://kit.fontawesome.com/49746c139e.js" crossorigin="anonymous"></script>

    <title>La Buleka</title>

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <%-include('./partials/header.ejs')%>
    <!-- Div contenedor de imagenes en slideShow -->
    
    <h2>PRODUCTOS DESTACADOS</h2>
    <a class="cartLink" href="/cart">Ver carrito</a>
    <main>
        <section>
            <%for (i=0; i<productos.length; i++){%>
            <article>
                <div class="img_container">
                    <img src= "/images/products/<%= productos[i].img%>" alt="<%= productos[i].nombre%>">
                </div>
                <div class="product_footer">
                    <p><%= productos[i].name%></p>
                    <p>$<%= productos[i].price%></p>
                </div>
                <div class="add-cart">
                    <%if(user){%>
                        <form>
                            <label for="quantity" >Cantidad</label>
                            <input class="quantityInput" name="quantity" type="number">
                            <button type="submit" formaction="/cart/<%= productos[i].id%>" formmethod="POST">Agregar al carrito</button>
                        </form>
                        <%}else{%>
                            <form>
                                <button type="submit" formaction="/login" formmethod="GET">Agregar al carrito</button>
                            </form>
                    <%}%>
                </div>
            </article>
            <%}%>
        </section>
    </main>
    <%-include('./partials/footer')%>
    

</body>
</html>
