<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
</head>
<body>
    <%-include('./partials/header.ejs')%>
    

    <div class="order-container">
        <p>Fecha: <%=order.date%></p>
        <%for (i=0; i < order.orderProducts.length; i++){%>
            <div class="order-detail">
                <p>Nombre: <%=order.orderProducts[i].name%></p>
                <p>Cantidad: <%=order.orderProducts[i].quantity%></p>
                <p>Precio: $<%=order.orderProducts[i].price%></p>
            </div>
        <%}%>
    </div>
   
    <p>Total: $<%=order.total%></p>

    <%-include('./partials/footer.ejs')%>
</body>
</html>