<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <link rel="stylesheet" href="css/tienda.css">
</head>

<body>
    <%-include('./partials/header.ejs')%>

    <main>     
        <aside class="categories">
            <p>Filtros</p>
            <ul>
                <li>Frutas</li>
                <li>Verduras</li>
                <li>Legumbres</li>
                <li>Semillas</li>
                <li>Huevos</li>
                <li>Bebidas</li>
                <li>Otros</li>
            </ul>
        </aside>
        <div class="mobile-categories">
            <select>
                <option>Frutas</option>
                <option>Verduras</option>
                <option>Legumbres</option>
                <option>Semillas</option>
                <option>Huevos</option>
                <option>Bebidas</option>
                <option>Otros</option>

            </select>
        </div>
        <section class="products">
            <%for (i=0; i<productos.length; i++){%>
                <article>
                    <div class="img_container">
                        <img src= "images/products/<%= productos[i].image%>" alt="<%= productos[i].nombre%>">
                    </div>
                    <div class="product_footer">
                        <p><%= productos[i].name%></p>
                        <p>$<%= productos[i].price%></p>
                    </div>
                    <div class="add-cart">                        
                            <form>
                                <button class="buy-btn" type="submit" data-id="<%= productos[i].id%>">Agregar al carrito</button>
                            </form>                            
                    </div>
                </article>
                <%}%>
        </section>
    </main>
    


    <%-include('./partials/footer.ejs')%>
    
</body>
</html>